@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #888888;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #AD9D65;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #C4CAFA;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FAEDC3;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #E0E4FF;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
